body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linen;
}

.n-carousel {
  text-align: center;
}

.n-carousel__index,
.n-carousel__previous,
.n-carousel__next {
  --control-bg: lightcoral;
  --control-color: #fff;
}

.n-carousel__content {
  text-align: start;
}

pre {
  overflow: auto;
}

.n-carousel__content > * > * {
  padding: 1em;
}
.n-carousel--lightbox > .n-carousel__content > * > * {
  padding: 0;
  margin: 0;
}
.demo-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.demo-grid > * {
  text-align: center;
}

.demo {
  > .n-carousel__content {
    > * {
      // display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  width: 150vmin;
  height: 100vh;
  max-width: 100vw;
  margin: auto;
  &.n-carousel.n-carousel--tabs > .n-carousel__index {
    max-height: 100%;
    overflow: auto;
    flex-wrap: nowrap;
    padding: 1ch 0;
    background: var(--control-bg);
    button {
      max-width: 25vw;
    }
  }
}

code[class*="language-"] {
  font-family: monospace !important;
  line-height: 1.4 !important;
}

.code {
  position: relative;
  margin-bottom: 1.5em;
  display: inline-block;
  max-width: 100%;

  pre {
    padding: 1em;
    margin: 0.5em 0;
  }

  button.n-btn {
    position: absolute;
    bottom: 0.67em;
    right: 0;
    font-size: 0.75em;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    background: lightcoral;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
}

h1,
h2 {
  &:first-child {
    margin-top: 0;
  }

  &:after {
    content: attr(data-version);
  }
}

[href="n-carousel.min.css"],
[href="n-carousel.min.js"] {
  text-decoration: none;

  &:after {
    content: attr(data-size);
    padding-inline-start: 1ch;
    min-width: 6ch;
    display: inline-block;
    font-size: 0.75em;
    vertical-align: top;
  }
  b {
    text-decoration: underline;
    min-width: 4ch;
    display: inline-block;
  }
}
