// @import './node_modules/n-modal/n-modal.scss';

body[data-frozen] {
	overflow: hidden;
}

.n-carousel__content {
	display: flex;
	will-change: scroll;
	outline: 0;
	box-sizing: border-box;
	overflow-anchor: none; // Prevent Chrome from scrolling parent carousels while animating carousel height
	list-style: none;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	scrollbar-width: none;

	/* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}

	> * {
		flex: 1 0 auto;
		box-sizing: content-box;
		overflow: auto;
		width: 100%;
		padding-inline-end: calc(1px * var(--subpixel-compensation, 0));

		> * {
			overflow: auto; // Collapse inner margins
		}
	}

	img {
		height: auto;
	}

	> :not([aria-current]):not(:last-child) {
		overflow: auto;
	}

}

.n-carousel:not(.n-carousel--vertical) {
	> .n-carousel__content {
		overflow-x: auto;
		// width: var(--subpixel-compensation, 0);
		width: calc(100% - 0px); // Using the Safari bug where it floors the floating point value
		padding: 0 var(--peek, 0);
	}

	&:not(.n-carousel--auto-height) > {
		.n-carousel__content > * {
			overflow: auto;
		}
	}

	&.n-carousel--auto-height {
		&:not([data-ready]) {
			> .n-carousel__content > :not(:first-child) {
				height: 0;
				overflow: visible;
			}
		}

		> .n-carousel__content {
			overflow-y: hidden;
			height: var(--height, auto);

			&,
			> * {
				min-height: 9em; // Minimum height to accommodate the controls
			}
		}
	}
}

.n-carousel--vertical {

	&:not(.n-carousel--auto-height),
	&[data-ready] {

		> .n-carousel__content {
			flex-direction: column;
		}
	}

	> .n-carousel__next {
		button {
			transform: none;
		}
	}

	> .n-carousel__previous {
		button {
			transform: rotate(180deg);
		}
	}

	&[data-ready].n-carousel--auto-height > .n-carousel__content {
		overflow: hidden;
		overflow-y: auto;
	}
}

@keyframes carousel-css-only {
	100% {
		height: 100%;
	}
}

.n-carousel {

	&:-webkit-full-screen,
	&.n-carousel--overlay {
		max-height: 100% !important;

		> .n-carousel__content {
			height: 100% !important;
			height: 100dvh !important; // Dynamic viewport height, Safari 15.4

			figure,
			img,
			video,
			iframe {
				max-height: 100%;
			}
		}
	}

	&:fullscreen {
		// Chrome, Firefox
		max-height: 100% !important;

		> .n-carousel__close {
			display: none;
		}

		> .n-carousel__content {
			height: 100% !important;
		}
	}

	&:-webkit-full-screen {
		> .n-carousel__close {
			display: none;
		}
	}

	&.n-carousel--vertical {
		&.n-carousel--auto-height:not([data-ready]) {
			> .n-carousel__content {
				> :not(:first-child) {
					display: none;
				}
			}
		}

		--max-height: 75vh;
		height: var(--max-height, 100%);
		max-height: 100%;

		> .n-carousel__content {
			max-height: 100%;
			// height: var(--max-height); // Working default – overflows lightbox
		}

		&:not(.n-carousel--auto-height) {
			&:-webkit-full-screen {
				> .n-carousel__content {
					height: 100% !important;
				}
			}

			&:fullscreen {
				> .n-carousel__content {
					height: 100% !important;
				}
			}
		}

		> .n-carousel__content {
			overflow-y: auto;
			box-sizing: content-box;

			> * {
				width: 100%;
				padding-inline-end: 0;
				height: 100%;
				padding-block-end: calc(1px * var(--subpixel-compensation, 0));
			}

			padding: var(--peek, 0) 0;
		}

		&:not(.n-carousel--controls-outside) {
			> .n-carousel__index {
				position: absolute;
				max-height: 100%;
				overflow: auto;
				justify-content: initial;
				grid-area: auto;
			}

			&.n-carousel--inline:not(.n-carousel--overlay) {
				height: auto;

				> .n-carousel__index {
					position: static;

					> * {
						display: initial;
						margin: 0;
					}
				}
			}

			&.n-carousel--index-end {
				> .n-carousel__index {
					inset-inline-end: 0;
					inset-inline-start: auto;
					grid-area: auto;
				}

				&.n-carousel--index-align-end {
					> .n-carousel__index {
						position: absolute;
					}
				}
			}
		}

		&.n-carousel--auto-height {

			&:not(.n-carousel--overlay) {

				height: auto;
			}

			&.n-carousel--peek {

				// Disable vertical auto-height peeking for the time being
				> .n-carousel__content {
					> * {
						height: calc(100% + 1px * var(--subpixel-compensation, 0));
					}

					&:before,
					&:after {
						display: none;
					}
				}
			}
		}
	}

	&:not([data-ready]) > * > button {
		cursor: not-allowed;
	}

	&:not([data-ready]) > .n-carousel--auto-height > :not(:first-child) {
		height: 0;
		animation: carousel-css-only 2 0.1s linear 1s forwards;
	}

	&:not([data-ready]) > .n-carousel--auto-height > :first-child {
		min-height: 100%;
	}

	--max-height: 100vh;
	// max-height: -webkit-fill-available; // Moved to Safari only
	// overflow: hidden; // To do: fix the real issue, bc overflow might be needed for popups etc.
	--peek: 0px;

	&[data-sliding] {
		pointer-events: none;
	}

	&.n-carousel--rtl {
		direction: rtl;
	}

	&.n-carousel--peek {
		--peek: 15%;
	}

	&:not([data-sliding]) > .n-carousel__content {

		scroll-snap-type: x mandatory;

		> * {
			scroll-snap-align: center;
			scroll-snap-stop: always;
		}

	}

	&.n-carousel--vertical:not([data-sliding]) > .n-carousel__content {
		// Separate 'y', because 'both' crashes Safari 16.2

		scroll-snap-type: y mandatory;

	}

	display: grid;
	grid-template: 1fr auto 1fr / auto auto auto 1fr auto auto;
	position: relative;
	grid-template-areas: "f    		c			a3    a3    a3    a3"
	"prev   	a2		a2    a2    a2    next"
	"i      	i			i     i     i     i";

	&.n-carousel--index-align-start {

		// grid-template: auto 1fr auto / auto auto 1fr auto;
		// grid-template-areas:
		// 	"a3 a3 a3 a3"
		// 	"prev a2 a2 next"
		// 	"i i b2 b2";
		> .n-carousel__index {
			justify-self: start;
		}

		&.n-carousel--index-start:not(.n-carousel--controls-outside) {
			grid-template-areas:
				"f c i b1 b2 b2"
				"prev a3 a3 a3 a3 next";

			&:not(.n-carousel--vertical) {
				grid-template-areas:
					"i i i i i i"
					"prev a2 a2 a2 a2 next"
					"f c a3 a3 a3 a3";

				> .n-carousel__full-screen,
				> .n-carousel__close {
					align-self: end;
				}
			}
		}
	}

	&.n-carousel--index-align-center:not(.n-carousel--vertical) {

		// grid-template: 1fr auto 1fr / auto 1fr auto auto;
		// grid-template-areas:
		// 	"a3 a3 a3 a3"
		// 	"prev a2 a2 next"
		// 	" b2 b2 i i";
		> .n-carousel__index {
			justify-self: center;
		}
	}

	&.n-carousel--index-align-end {

		// grid-template: 1fr auto 1fr / auto 1fr auto auto;
		// grid-template-areas:
		// 	"a3 a3 a3 a3"
		// 	"prev a2 a2 next"
		// 	" b2 b2 i i";
		> .n-carousel__index {
			justify-self: end;
		}

		&.n-carousel.n-carousel--index-start:not(.n-carousel--controls-outside):not(.n-carousel--vertical) {
			grid-template-areas:
				"f c i i i i"
				"prev a2 a2 a2 a2 next"
				"a3 a3 a3 a3 a3 a3";

			> .n-carousel__full-screen,
			> .n-carousel__close {
				// align-self: end;
			}
		}
	}

	> .n-carousel__content {
		padding: 0;
		margin: 0;
		grid-row: 1/-1;
		grid-column: 1/-1;

		@media (prefers-reduced-motion: no-preference) {

			transition: opacity .2s ease-in-out;
		}
	}

	> :not(.n-carousel__content) {
		z-index: 1;
	}

	> .n-carousel__previous {
		grid-area: prev;
		align-self: center;
		// justify-self: start;
		justify-self: center;
	}

	> .n-carousel__next {
		grid-area: next;
		align-self: center;
		justify-self: center;
	}

	> .n-carousel__index {
		grid-area: i;
		align-self: end;
		justify-self: center;
		justify-content: center;
		overflow: auto;
		white-space: nowrap;
		vertical-align: middle;

		img {
			width: 3em;
			height: 3em;
			object-fit: cover;
			padding: 0;
		}

	}

	&.n-carousel--thumbnails {
		> .n-carousel__index {
			> * {
				padding: 0;
				vertical-align: middle;
				margin: 0.25em auto;
				border-radius: var(--nui-border-radius);
				overflow: hidden;

				span {
					padding: 0 1ch;
				}
			}

			padding: 1px;

			[aria-current] {
				// opacity: .5;
				box-shadow: 0 0px 0px 1px var(--nui-control-bg, grey);
			}
		}

		&.n-carousel--vertical {
			> .n-carousel__index {
				> * {
					margin: var(--nui-border-radius, .25em);
				}
			}
		}
	}


	&[data-platform="iPhone"],
	&[data-platform="iPod"] > {
		.n-carousel__full-screen {
			// iPhone doesn't support full screen
			display: none;
		}

		.n-carousel__close {
			grid-area: f;
		}
	}

	&.n-carousel--index-start {
		grid-template-areas:
			"i       i   i     i     i     i"
			"prev    a2  a2    a2    a2    next"
			"f      c   a3    a3    a3    a3";

		> .n-carousel__index {
			align-self: start;
		}

		.n-carousel__index {
			justify-content: flex-start;
		}

		> .n-carousel__full-screen,
		> .n-carousel__close {
			align-self: end;
		}

	}

	&.n-carousel--index-end {
		> .n-carousel__index {
			justify-content: flex-end;
		}
	}

	&.n-carousel--controls-outside {
		grid-template-areas:
			"f      c	content   a1"
			"prev   c2 content   next"
			"a2     c2   content a3"
			"i      i			i         i";
		grid-template-columns: auto auto 1fr auto;

		> .n-carousel__content {
			grid-area: content;
		}

		&.n-carousel--index-start {
			grid-template-areas:
				"f      c i          i"
				"b1     c2 content    b2"
				"prev   c2 content    next"
				"a1     c2 content    a2";
			grid-template-rows: auto auto 1fr auto;
		}

		&.n-carousel--index-align-start > .n-carousel__index {
			text-align: start;
		}

		&.n-carousel--index-align-end > .n-carousel__index {
			text-align: end;
		}
	}

	&.n-carousel--vertical {
		box-sizing: border-box;
		grid-template-areas:
			"f c a1 prev a2 a2"
			"i a3 a3 a3 a3 a3"
			"i a4 a4 next a5 a5";
		grid-template-rows: auto;

		> .n-carousel__index {
			align-self: center;
			justify-self: initial;

			> * {
				display: block;
				white-space: normal;
				max-width: 25vw;
			}
		}

		&.n-carousel--index-align-start {
			> .n-carousel__index {
				align-self: start;
			}
		}

		&.n-carousel--index-align-end {
			> .n-carousel__index {
				align-self: end;
				// grid-area: i;
				inset-inline-start: 0;
			}
		}

		&.n-carousel--index-end {
			grid-template-areas:
				"f  c a1  prev  a2  i"
				"a3   a3 a3  a3    a3  i"
				"a4   a4 a4  next  a5  i";

			&.n-carousel--index-align-start:not(.n-carousel--index-end) {
				grid-template: 1fr auto auto/auto auto auto 1fr auto auto;
				grid-template-areas:
					"f  c a1  prev  a2  i"
					"a3   a3 a3  a3    a3  i"
					"a4   a4 a4  next  a5  b2";
				grid-template-columns: repeat(5, 1fr);
				grid-template-rows: auto;

				> .n-carousel__index {
					align-self: start;
				}
			}

			&.n-carousel--index-align-start {
				grid-template: 1fr auto auto/ auto auto 1fr auto auto;
				grid-template-areas:
					"f   c  prev  a2  a2 i"
					"a3   a3  a3    a3  a3 i"
					"a4   a4  next  a5  a5 a5";

				> .n-carousel__index {
					align-self: start;
				}

				> .n-carousel__previous {
					justify-self: center;
				}
			}

			&.n-carousel--index-align-end {
				grid-template: 1fr auto auto/auto auto 1fr auto auto;
				grid-template-areas:
					"f   c  prev  a2  a2 a2"
					"a3   a3  a3    a3  a3 i"
					"a4   a4  next  a5  a5 i";

				> .n-carousel__index {
					align-self: end;
				}

				> .n-carousel__previous {
					justify-self: center;
				}
			}
		}

		> .n-carousel__previous {
			align-self: start;
		}

		> .n-carousel__next {
			align-self: end;
		}

		&.n-carousel--index-align-start:not(.n-carousel--index-end):not(.n-carousel--controls-outside) {
			grid-template-areas:
				"a1 a1 a1 prev c f"
				"i a3 a3 a3 a3 a3"
				"i a4 a4 next a5 a5";
		}

		&.n-carousel--index-align-end {
			// grid-template: 1fr auto 1fr / auto 1fr auto 1fr auto;
			grid-template-areas:
				"a1 a1 a1 prev c f"
				"i a3 a3 a3 a3 a3"
				"i a4 a4 next a5 a5";

			&.n-carousel--tabs:not(.n-carousel--controls-outside) {
				// grid-template: 1fr auto auto/auto auto auto 1fr auto auto;
			}
		}
	}

	&.n-carousel--vertical.n-carousel--controls-outside {
		grid-template-areas:
			"f    c prev    a2"
			"i    c2 content   a2"
			"i    c2 next    a2";
		grid-template-rows: auto 1fr auto auto;
		// padding-inline-start: var(--index-width);

		&.n-carousel--index-align-start {
			> .n-carousel__index {
				align-self: start;
			}
		}

		&.n-carousel--index-align-end {
			grid-template-columns: auto auto 1fr auto;

			> .n-carousel__index {
				align-self: end;
			}
		}

		&.n-carousel--index-end {
			grid-template-areas:
				"f    c prev    i"
				"a1   c2  content   i"
				"a1   c2  next    i";
				grid-template-rows: auto 1fr;
			// padding-inline-end: var(--index-width);
			// padding-inline-start: 0;

			&.n-carousel--index-align-start {
				// grid-template: auto 1fr / auto auto 1fr auto;
			}
		}

		> .n-carousel__index {
			max-height: var(--max-height, 100%);
		}

		&.n-carousel--auto-height:not([data-ready]) {
			> .n-carousel__index {
				max-height: 0;
			}
		}

		&.n-carousel--auto-height[data-ready] {
			overflow: hidden;

			&[data-sliding] > .n-carousel__index {
				max-height: none;
			}

			> .n-carousel__index {
				position: absolute;
				margin-inline-start: calc(-1 * var(--index-width));
			}

			&.n-carousel--index-end {
				> .n-carousel__index {
					margin-inline-start: calc(-1px * var(--index-width) / 2);
				}
			}
		}
	}

	&:-webkit-full-screen {
		background: #000;
		--max-height: 100vh;
	}

	&:fullscreen {
		background: #000;
		--max-height: 100vh;
	}

	&.n-carousel--overlay {
		--max-height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		max-height: none;
		height: 100%;
		// height: -webkit-fill-available; // creates a bottom gap
		height: 100dvh;
		background: rgba(255, 255, 255, 0.9);

		@media (prefers-color-scheme: dark) {
			background: rgba(0, 0, 0, 0.9);
		}
	}

	&.n-carousel--inline:not(.n-carousel--overlay) {
		display: block;

		> .n-carousel__index > [aria-current] {
			// opacity: 1;
			box-shadow: none;
		}

		> * {
			text-align: start;

			&:not(.n-carousel__index) {
				// display: none;
				visibility: hidden;
				position: absolute;
				width: 0;
				height: 0;
				opacity: 0;
				overflow: hidden;
			}
		}
	}

}

// Chrome/FF (and now Safari 15) can't scrollTo while scroll snapping is active. Safari can, but it can't toggle snapping programmatically without resetting scroll offset. Fixed in Safari 15
@supports not (aspect-ratio: 1) {

	// Safari 14 only
	_::-webkit-full-page-media,
	_:future,
	:root .n-carousel[data-sliding] > .n-carousel__content {
		scroll-snap-type: both mandatory;
	}
}

_::-webkit-full-page-media,
_:future,
:root .n-carousel[data-sliding] > .n-carousel__content > * {
	scroll-snap-align: center;
}

_::-webkit-full-page-media,
_:future,
:root .n-carousel {
	// overflow-x: hidden; // Safari bug. Subpixel content showing from a neighbouring slide
	// --peek: 0.0001px; // Safari 14- floors calc(100% - 0) (Fixed in 15 beta?)
	// --peek: 0; // Safari 14- floors calc(100% - 0) (Fixed in 15 beta?)
}

// Safari not supporting inline end padding on scrollable element
_::-webkit-full-page-media,
_:future,
:root .n-carousel.n-carousel--peek:not(.n-carousel--vertical) > .n-carousel__content:after {
	content: '';
	// width: var(--peek, 0);
	padding: var(--peek-int, 0);
	flex-shrink: 0;
}

.n-carousel__index,
.n-carousel__previous,
.n-carousel__next,
.n-carousel__full-screen,
.n-carousel__close {
	> * {
		box-sizing: border-box;
		text-decoration: none !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
		all: revert;
		border: none;
		color: var(--nui-control-color, #333);
		background: var(--nui-control-bg, #eee);
		min-width: 2.25em;
		min-height: 2.25em;
		border-radius: var(--nui-border-radius, 2.25em);
		margin: 0.25em;
		font: inherit;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0 1ch;
		cursor: pointer;

		span {
			color: var(--nui-control-color, #333);
		}

		&[aria-current] span {
			// opacity: 0.5;
			color: var(--nui-control-active-color, blue);
		}
	}
}

.n-carousel__index > *,
.n-carousel__previous > *,
.n-carousel__next > *,
.n-carousel__full-screen > *,
.n-carousel__close > *,
.n-carousel--tabs > .n-carousel__index {
	box-shadow: 0 0 0 var(--nui-border-size) var(--nui-border-color), 0 0 var(--nui-shadow-blur) calc(var(--nui-border-size) + var(--nui-shadow-size)) var(--nui-shadow-color);
}

.n-carousel--tabs > .n-carousel__index > * {
	box-shadow: none;
}

.n-carousel[data-ready] {

	--height: 0;

	> .n-carousel__index,
	> .n-carousel__previous,
	> .n-carousel__next,
	> .n-carousel__full-screen,
	> .n-carousel__close {
		> * {
			cursor: pointer;
		}
	}

	&.n-carousel--auto-height:not(.n-carousel--vertical):not([data-sliding]) > .n-carousel__content {
		> :not([aria-current]) {
			overflow: visible;
		}
	}

	&.n-carousel--auto-height:not(.n-carousel--vertical)[data-sliding] > .n-carousel__content {
		> :not([aria-current]) {
			// height: auto;
		}
	}

	&.n-carousel--auto-height > .n-carousel__content {
		> * {
			overflow: hidden !important;
		}
	}

}

// LTR & RTL chevrons – but what about RTL defined by CSS 'direction' instead of the 'dir' attribute?
.n-carousel__previous,
.n-carousel__next,
.n-carousel__full-screen,
.n-carousel__close {
	height: 2.85em;
	width: 2.85em;

	button {
		span {
			// Screen readers only
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			white-space: nowrap;
			border: 0;
		}

		&:before {
			content: "";
			background-color: var(--nui-control-color, #333);
			--chevron: url("data:image/svg+xml,%3Csvg height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.003 7.626 7.081-7.081 1.916 1.915-8.997 8.998-9.003-9 1.917-1.916z' transform='translate(0 5)'/%3E%3C/svg%3E");
			-webkit-mask: var(--chevron) no-repeat 0 0 / contain;
			-webkit-mask-size: 100%;
			mask: var(--chevron) no-repeat 0 0;
			mask-size: 100%;
			width: 1em;
			height: 1em;
			display: inline-block;
		}
	}
}

.n-carousel__full-screen {
	grid-area: f;
	justify-self: baseline;

	button:before {
		// --chevron: url("data:image/svg+xml,%3Csvg width='480' height='480' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='evenodd'%3E%3Cpath d='M0 0v180h60V60h120V0z'/%3E%3Cpath d='M0 0v180h60V60h120V0zM300 0v60h120v120h60V0z'/%3E%3Cpath d='M300 0v60h120v120h60V0zM420 300v120H300v60h180V300z'/%3E%3Cpath d='M420 300v120H300v60h180V300zM0 300v180h180v-60H60V300z'/%3E%3Cpath d='M0 300v180h180v-60H60V300z'/%3E%3C/g%3E%3C/svg%3E");
		--chevron: url("data:image/svg+xml,%3Csvg viewBox='0 0 46 46' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M.778 17.444h5.555V6.334h11.111V.777H.778zM28.556.778v5.555h11.11v11.111h5.556V.778zM39.667 39.667H28.556v5.555h16.666V28.556h-5.555zM6.333 28.556H.778v16.666h16.666v-5.555H6.334z'/%3E%3C/g%3E%3C/svg%3E");
	}

	~ .n-carousel__close {
		grid-area: c;
	}
}

.n-carousel__close {
	grid-area: f;
	justify-self: baseline;

	button:before {
		--chevron: url("data:image/svg+xml,%3Csvg viewBox='0 0 480 480' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2523000' fill-rule='evenodd'%3E%3Cpath d='M68.88 368.693l42.427 42.427L411.12 111.307 368.693 68.88 168.818 268.756z'/%3E%3Cpath d='M111.307 68.88L68.88 111.307 368.693 411.12l42.427-42.427-199.876-199.875z'/%3E%3C/g%3E%3C/svg%3E");
	}

	~ .n-carousel__full-screen {
		grid-area: c;
	}
}

.n-carousel:not(.n-carousel--overlay) > .n-carousel__close button:before {
	transform: rotate(45deg);
}

.n-carousel__previous,
[dir="rtl"] .n-carousel__next,
.n-carousel--rtl > .n-carousel__next {
	button {
		transform: rotate(90deg);
	}
}

.n-carousel__next,
[dir="rtl"] .n-carousel__previous,
.n-carousel--rtl > .n-carousel__previous {
	button {
		transform: rotate(-90deg);
	}
}

.n-carousel--tabs {

	&.n-carousel > .n-carousel__index {
		// For normal and detached controls
		display: flex;
		justify-content: start;
		overflow: auto;
		max-width: 100%;
		max-height: 100%;
		color: var(--nui-control-color, #333);
		border-radius: var(--nui-border-radius);

		> * {
			box-sizing: border-box;
			border-radius: 0;
			margin: 0;
			display: flex;
			justify-content: flex-start;
			padding: 0.5ch 1ch;
			text-align: start;
			word-break: break-word;
			outline-offset: -3px;
			min-width: 1.5em;
			min-inline-size: min-content;

			&:focus {
				z-index: 0;
			}

		}
	}

	&.n-carousel {
		&.n-carousel--vertical > .n-carousel__index {
			display: block;

			> * {
				width: 100%;

				&:first-child {
					border-radius: 0;
					border-start-start-radius: var(--nui-border-radius);
					border-start-end-radius: var(--nui-border-radius);
				}

				&:last-child {
					border-radius: 0;
					border-end-start-radius: var(--nui-border-radius);
					border-end-end-radius: var(--nui-border-radius);
				}

			}
		}

		&.n-carousel--vertical.n-carousel--auto-height > .n-carousel__index {
			> * {
				white-space: nowrap;
			}
		}

		&.n-carousel--tabs-align-end > .n-carousel__index {
			> * {
				text-align: end;
			}
		}

		> .n-carousel__previous,
		> .n-carousel__next {
			display: none;
		}
	}
}

@-moz-document url-prefix() {
	.n-carousel--vertical > .n-carousel__content {
		// FF doesn't respect the end padding of the vertical carousel. Can't use this for all, bc it breaks Safari
		display: block;

		> :last-child {
			margin-block-end: var(--peek, 0);
		}
	}

}

.n-carousel--lightbox {
	flex: 1;
	--nui-carousel-bg: transparent;

	&:not(.n-carousel--auto-height) {
		max-height: var(--max-height, 100vh);
	}

	figure {
		height: 100%;
		margin: 0;
		display: grid;
		grid-template: auto 1fr / auto;
		// border: 0.1px solid transparent;
		box-sizing: border-box;

		> * {
			grid-row: 1/3;
			grid-column: 1/1;
			display: flex;
			justify-content: center;
			align-items: center;
			justify-self: center;
			// align-self: center;
			// overflow: hidden;
		}

		> figcaption {
			grid-row: 1/2;
			justify-self: center;
			padding: 0.5em 0.75em;
			background: rgba(0, 0, 0, 0.3);
			color: #ddd;
			z-index: 0;
			border-radius: var(--nui-border-radius);
			margin: 0.25em;
		}
	}

	&.n-carousel--auto-height {

		figure,
		video,
		iframe {
			height: auto;
			max-height: none;
		}

		:not(:-webkit-full-screen):not(.n-carousel--overlay) > .n-carousel__content {
			max-height: var(--max-height);
		}
	}

	&.n-carousel--index-start {
		figure {
			grid-template: 1fr auto/auto;

			> figcaption {
				grid-row: 2/3;
			}
		}
	}

	&.n-carousel--vertical:not(.n-carousel--controls-outside) {
		figure {

			// grid-template: 1fr auto/auto;
			> figcaption {
				// grid-row: 2/3;
				margin-top: 3em;
			}
		}

		&.n-carousel--index-start {
			figure {

				// grid-template: 1fr auto/auto;
				> figcaption {
					// grid-row: 2/3;
					margin-top: none;
					margin-bottom: 3em;
				}
			}
		}
	}

	img {
		display: block;
		max-height: 100%;
		max-width: 100%;
		object-fit: contain;
		box-sizing: border-box;
		padding: 0 0.5px; // Safari: visible pixel from neighbour
		z-index: 0;
	}

	&.n-carousel--auto-height {
		img {
			max-height: none;
		}
	}

	&:-webkit-full-screen {
		img {
			max-height: 100%;
		}

		&.n-carousel--auto-height {
			figure {
				height: 100%;
			}
		}
	}

	&.n-carousel--overlay {
		img {
			max-height: 100%;
		}

		&.n-carousel--auto-height {
			figure {
				height: 100%;
			}
		}
	}

	iframe,
	video {
		border: none;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}

	> .n-carousel__content {
		picture:not([data-loaded]) {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				inset: 0;
				filter: blur(4px);
				background: var(--placeholder, none) center no-repeat;
				background-size: contain;
			}
		}

	}

	&:not(.n-carousel--overlay):not(:fullscreen).n-carousel--aspect,
	&:not(.n-carousel--overlay):not(:-webkit-full-screen).n-carousel--aspect {
		--max-height: 100%;

		> .n-carousel__content {

			> * {

				figure {
					aspect-ratio: var(--ratio, 16/9);
					position: relative;
					width: 100%;
					height: auto;
				}
			}
		}

		&.n-carousel--auto-height img {
			max-height: 100%;
		}

		&.n-carousel--vertical {
			height: var(--height);

			> .n-carousel__content > * {
				height: auto;
			}
		}

	}

	&:not(.n-carousel--overlay):not(:-webkit-full-screen).n-carousel--aspect {
		--max-height: 100%;

		> .n-carousel__content {

			> * {

				figure {
					aspect-ratio: var(--ratio, 16/9);
					position: relative;
					width: 100%;
					height: auto;
				}
			}
		}

		&.n-carousel--auto-height img {
			max-height: 100%;
		}

		&.n-carousel--vertical {
			height: var(--height);

			> .n-carousel__content > * {
				height: auto;
				flex-grow: initial;
			}
		}

	}

}

// Remove iPad button to exit full screen, because there is a native one
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.n-carousel:-webkit-full-screen .n-carousel__full-screen {
		display: none;
	}
}