.n-carousel--content {
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  padding: var(--peek, 0);
  will-change: scroll;
  scrollbar-width: none;
  /* Firefox */
  transition: height 0.2s ease-in-out; }
  .n-carousel--content::-webkit-scrollbar {
    display: none; }
  .n-carousel--content > * {
    scroll-snap-align: center;
    flex: 1 0 auto;
    width: 100%; }
  .n-carousel--content:not([data-sliding]) {
    scroll-snap-type: x mandatory; }
  .n-carousel--content[data-sliding] {
    pointer-events: none; }
  .n-carousel--content > :last-child {
    padding-inline-end: var(--peek, 0); }

.n-carousel--index, .n-carousel--previous, .n-carousel--next {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

.n-carousel[data-ready] .n-carousel__auto > :not([data-active]) {
  height: 0; }

.n-carousel:not([data-ready]) .n-carousel__auto > :not(:first-child) {
  height: 0; }
