.n-carousel--content {
	
	display: flex;
	padding: var(--peek, 0);
// 	will-change: scroll;
	box-sizing: content-box;
// 	transition: height .3s ease-in-out;
	transition: none;
	
	@media (prefers-reduced-motion: reduce) {
	
		transition: none;
	
	}

	&:not([data-sliding]) {

		scroll-snap-type: both mandatory;
		
		> * {
			
			scroll-snap-align: center;
			
		}

	}

	&:not(.n-carousel__vertical) {
		
		overflow-x: auto;

		> :last-child { // Peeking support
			
			padding-inline-end: var(--peek, 0);
	
		}
	
	}
	
	&.n-carousel__vertical {
		
		overflow-y: auto;
		flex-direction: column;
		
		> :last-child { // Peeking support
			
			padding-block-end: var(--peek, 0);
	
		}
		
		> * {
			
			height: var(--height, inherit);
			overflow: hidden;

/*
		    display: flex;
		    justify-content: flex-end;
		    flex-direction: column;
*/
    
		}
	
/*
		> [data-active], > [data-active] + * {
			
		    display: block;
    
		}
*/
	
	}
	
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
	
		display: none;
	
	}
 
	> * {

		flex: 1 0 auto;
		width: 100%;
  	
	}

	&[data-sliding] {

		pointer-events: none;

	}
	
}

.n-carousel--index button, button.n-carousel--previous, button.n-carousel--next {

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;		
	all: revert;

}

.n-carousel--content.n-carousel__auto {
	
	overflow: hidden;
	overflow-x: auto;


}

.n-carousel--content.n-carousel__auto.n-carousel__vertical {
	
	overflow: hidden;
	overflow-y: auto;


}

.n-carousel[data-ready] > .n-carousel__auto:not(.n-carousel__vertical) > :not([data-active]), .n-carousel:not([data-ready]) > .n-carousel__auto > :not(:first-child) {
	
	height: 0;
	
}
