.n-carousel--content {
	
	display: flex;
	will-change: scroll;
	box-sizing: content-box;
	padding: var(--peek-y, 0) var(--peek-x, 0);
	
	@media (prefers-reduced-motion: reduce) {
	
		transition: none;
	
	}
	
	&:not([data-sliding]) {

		scroll-snap-type: both mandatory;
		
		> * {
			
			scroll-snap-align: center;
			
		}
	
	}

	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
	
		display: none;
	
	}
 
	> * {

		flex: 1 0 auto;
		width: 100%;
		box-sizing: border-box;
// 		transition: height .2s ease-in-out;

	}

	&[data-sliding] {

		pointer-events: none;
		
	}
	
	&, 
	
	
/*
	> :not([data-active]):not(:last-child), &[data-sliding] > *:not(:last-child) {
			
		overflow: hidden;

	}
*/

	> :not([data-active]):last-child, &[data-sliding] > *:last-child {
			
	    -webkit-mask: linear-gradient(0, #000, #000);
	    mask: linear-gradient(0, #000, #000);

	}
	
}

:not(.n-carousel__vertical) > .n-carousel--content {
	
	overflow-x: auto;

	&:after {

	    content: '';
        flex-shrink: 0;
// 	        padding-inline-end: inherit;
	    width: var(--peek-x, 0); // Fixed value option


	}

	&:not(.n-carousel__auto) > * {
		
		overflow: auto;
		
	}

}

.n-carousel__vertical > .n-carousel--content {
	
	overflow-y: auto;
	flex-direction: column;
	
	> * {
		
// 			height: var(--height, inherit); // Fallback not working in Safari
		height: inherit; // Fallback not working in Safari
		overflow: hidden;

	}
	

}

// Chrome/FF can't scrollTo while scroll snapping is active. Safari can, but it can't toggle snapping programmatically without resetting scroll offset.

_::-webkit-full-page-media, _:future, :root .n-carousel--content[data-sliding] {

	scroll-snap-type: both mandatory;
	
}

_::-webkit-full-page-media, _:future, :root .n-carousel--content[data-sliding] > * {

	scroll-snap-align: center;

}

// No snapping in Safari when RTL (?!) To do: polyfill

_::-webkit-full-page-media, _:future, :root [dir="rtl"] :not(.n-carousel__vertical) > .n-carousel--content {

	scroll-snap-type: none;
	
}

// Because macOS-only Safari can't swipe backwards when pointer events are re-enabled.

@supports not (-webkit-touch-callout: none) {

	_::-webkit-full-page-media, _:future, :root .n-carousel--content[data-sliding] {
	
		pointer-events: all;
	
	}

}

.n-carousel--index, .n-carousel--previous, .n-carousel--next {

	 button {

		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    user-select: none;		
		all: revert;
		border: none;
		background: #eee;
		min-width: 42px;
		min-height: 42px;
		border-radius: 42px;
		cursor: pointer;
		margin: .25em;
	    font: inherit;
	    text-align: center;
		
		&[disabled] {
			
			opacity: .5;
	
		}
	
	}

}

// LTR & RTL chevrons – but what about RTL defined by CSS 'direction' instead of the 'dir' attribute?

.n-carousel--previous, [dir="rtl"] .n-carousel--next {

	button:before {
		 
		 content: '⬅';
	
	}

}

.n-carousel--next, [dir="rtl"] .n-carousel--previous {

	button:before {
		 
		 content: '➡';
	
	}

}

.n-carousel__vertical > .n-carousel--next, .n-carousel__vertical > .n-carousel--previous {
	
	button:before {
		
		content: '';

	}	
	
}

.n-carousel__vertical > .n-carousel--content.n-carousel__auto {
	
	overflow: hidden;
	overflow-y: auto;


}

/* .n-carousel[data-ready] > .n-carousel__auto:not(.n-carousel__vertical) > :not([data-active]), */ .n-carousel:not([data-ready]) > .n-carousel__auto > :not(:first-child) {
	
	height: 0;
	
}

.n-carousel:not([data-ready]) > .n-carousel--content > :not([data-active]):not(:last-child) {
	
	overflow: auto;
	
}

.n-carousel {
		
	display: grid;
	grid-template: auto 1fr/auto 1fr auto 1fr auto;

    grid-template-areas:
        "prev 	a2 		a2 		a2 		next"
        "index 	index 	index 	index 	index";
	
	> .n-carousel--content { // To do: support intermediate container, while not affecting nested carousels
		
	    grid-row: 1/-1;
	    grid-column: 1/-1;
    		
	}
	
	> :not(.n-carousel--content) {
		
	    z-index: 1;
    		
	}
	
	> .n-carousel--previous {
		
		grid-area: prev;
    		
	}
    
	> .n-carousel--next {

		grid-area: next;

	}

	> .n-carousel--index {

		grid-area: index;
		align-self: end;
    
	}
	
	&.n-carousel__controls-top {
		
	    grid-template-areas:
	        "index 	index 	index 	index 	index"
	        "prev 	a3 		a3 		a3 		next";
	
	}

	&.n-carousel__controls-outside {
		
	    grid-template-areas:
	        "a1 	a1 			a1"
	        "prev 	content  	next"
	        "index 	index	 	index";

		grid-template-columns: auto 1fr auto;

		> .n-carousel--content {
			
			grid-area: content;
    			
		}
		
		&.n-carousel__controls-top {
			
		    grid-template-areas:
		        "index 	index 		index"
		        "prev 	content  	next"
		        "a3 	a3	 		a3";
	
		}

	}
	
	&.n-carousel__vertical {
		
	    grid-template-areas:
	        "index 	a1 	prev 	a2 	a2"
	        "index	a3 	a3 		a3 	a3"
	        "index 	a4 	next	a5 	a5";
		
		> .n-carousel--index {
	
	        align-self: center;
		    display: flex;
		    flex-direction: column;
    	    
		}
		
		&.n-carousel__controls-right {
	
		    grid-template-areas:
		        "a1 	a1 	prev	a2 	index"
		        "a3		a3 	a3 		a3 	index"
		        "a4 	a4 	next 	a5 	index";
    	    
		}
		
		> .n-carousel--previous {
			
	        align-self: start;
    			
		}
		
		> .n-carousel--next {

		    align-self: end;
        			
		}
		
	}

	&.n-carousel__vertical.n-carousel__controls-outside {
		
	    grid-template-areas:
	        "index 		prev		a2"
	        "index 		content  	a2"
	        "index 		next	 	a2";

		&.n-carousel__controls-right {
			
		    grid-template-areas:
		        "a1 		prev		index"
		        "a1 		content  	index"
		        "a1 		next	 	index";
	
		}

	}
	
	&.n-carousel__tabs {
		
		grid-template-rows: auto 1fr;
		
		> .n-carousel--index {
			
			display: flex;
			flex-wrap: wrap;
			
			button {
				
				border-radius: 0;
				margin: 0;
				
				&:focus {
					
					z-index: 0;

				}

			}

		}
		
		> .n-carousel--previous, > .n-carousel--next {
			
			display: none;
			
		}
		
	}
	
}

@-moz-document url-prefix() {

	.n-carousel__vertical > .n-carousel--content { // FF doesn't respect the end padding of the vertical carousel. Can't use this for all, bc it breaks Safari 
		
		display: block;

		> :last-child {
			
			margin-block-end: var(--peek-y, 0);

		}

	}
	
}
