/**
 * Control button styles
 */

.n-carousel__previous,
.n-carousel__next {
  button {
    // Base button styles
  }
}

.n-carousel__index {
  // Index/thumbnail styles
}

.n-carousel__close {
  // Close button styles
}

.n-carousel__full-screen {
  // Fullscreen button styles
}


