/**
 * Vertical carousel styles
 */

.n-carousel--vertical {
  --max-height: 75vh;
  height: var(--max-height, 100%);
  max-height: 100%;

  > .n-carousel__content {
    flex-direction: column;
  }

  > .n-carousel__next {
    button {
      transform: none;
    }
  }

  > .n-carousel__previous {
    button {
      transform: rotate(180deg);
    }
  }

  &[data-ready].n-carousel--auto-height > .n-carousel__content {
    overflow: hidden;
    overflow-y: auto;
  }

  &.n-carousel--auto-height:not([data-ready]) {
    > .n-carousel__content {
      > :not(:first-child) {
        display: none;
      }
    }
  }

  > .n-carousel__content {
    max-height: 100%;
  }

  &:not(.n-carousel--auto-height) {
    &:-webkit-full-screen {
      // Safari 16.3-
      > .n-carousel__content {
        height: 100% !important;
      }
    }

    &:fullscreen {
      > .n-carousel__content {
        height: 100% !important;
      }
    }
  }
}

@keyframes carousel-css-only {
  100% {
    height: 100%;
  }
}

