@charset "UTF-8";
/* Image aspect ratio – don't shift the page after loading the image */
@supports (--a: 1) {
  .n-aspect {
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    vertical-align: top;
    width: calc(1px * var(--width, 100%));
    max-width: 100%;
    text-align: start;
  }
  .n-aspect > img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .n-aspect:before {
    content: "";
    padding-top: calc(100%*1/(var(--width)/var(--height)));
  }
  .n-aspect[style*="--ratio"], .n-aspect.n-aspect--ratio {
    width: calc(1px * var(--width, 10000));
    max-width: 100%;
  }
  .n-aspect[style*="--ratio"]:before, .n-aspect.n-aspect--ratio:before {
    padding-top: calc(100%*1/var(--ratio, 1.7778));
  }
  .n-aspect.n-bottom > * {
    align-self: flex-end;
    vertical-align: bottom;
  }
  .n-aspect.n-middle > * {
    align-self: center;
    vertical-align: middle;
  }
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: darkcyan;
  height: 100%;
  line-height: 1.333;
  color: white;
}

.n-carousel {
  text-align: center;
}

.n-carousel__index,
.n-carousel__previous,
.n-carousel__next,
.n-carousel__full-screen {
  --control-bg: rgb(255, 158, 158);
  --control-color: #670d5b;
}

.n-carousel__content {
  text-align: start;
}
.n-carousel__content img {
  max-width: 100%;
  align-self: center;
}

pre {
  overflow: auto;
}

.n-carousel__content > * > * {
  padding: 1em;
}
@media (min-width: 600px) {
  .n-carousel__content > * > * h3,
.n-carousel__content > * > * h2 {
    margin-top: 0;
  }
}

.demo .n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.demo .n-carousel .n-carousel__content > * {
  background: aliceblue;
  color: #027b7b;
}
.demo .n-carousel .n-carousel__content > * > * {
  box-sizing: border-box;
}
.demo .n-carousel .n-carousel__content a[href] {
  color: #4d64bd;
}
@media (min-width: 900px) {
  .demo .n-carousel .n-carousel__content p {
    columns: 2;
  }
}

.demo .n-carousel.n-carousel--lightbox .n-carousel__content > * {
  background: none;
}

.n-carousel--lightbox > .n-carousel__content > * > * {
  padding: 0;
  margin: 0;
}

.demo-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.demo-grid > * {
  text-align: center;
}

.demo {
  max-height: 100vh;
  max-height: -webkit-fill-available;
  max-width: 100vw;
  margin: auto;
}
.demo > .n-carousel__content > * {
  justify-content: center;
  align-items: center;
}
.demo.n-carousel.n-carousel--tabs > .n-carousel__index {
  max-height: 100%;
  overflow: auto;
  flex-wrap: nowrap;
  padding: 1ch 0;
  background: var(--control-bg);
}
.demo.n-carousel.n-carousel--tabs > .n-carousel__index button {
  max-width: 25vw;
}
.demo .source {
  display: flex;
}
.demo .source > * {
  margin-inline-end: 5ch;
}
.demo .source pre {
  all: initial;
  font: inherit;
}
.demo a[href] {
  color: #cecfd6;
}
.demo a[href]:visited {
  text-decoration: none;
}

code[class*=language-] {
  font-family: Monaco, monospace !important;
  line-height: 1.9 !important;
  display: block;
  font-size: 0.812em;
}

.code {
  position: relative;
  margin-bottom: 1.5em;
  display: inline-block;
  width: 100%;
}
.code pre {
  padding: 1em;
  margin: 0.5em 0;
}
.code button.n-btn {
  position: absolute;
  bottom: 0.67em;
  right: 0;
  font-size: 0.75em;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  background: lightcoral;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
}

@media (min-width: 600px) {
  h1:first-child,
h2:first-child {
    margin-top: 0;
  }
}
h1:after {
  content: attr(data-version);
  padding-inline-start: 1ch;
  font-size: 0.5em;
  font-weight: normal;
  vertical-align: super;
}

[href="n-carousel.min.css"],
[href="n-carousel.min.js"] {
  text-decoration: none;
}
[href="n-carousel.min.css"]:after,
[href="n-carousel.min.js"]:after {
  content: attr(data-size);
  padding-inline-start: 1ch;
  min-width: 6ch;
  display: inline-block;
  font-size: 0.75em;
  vertical-align: top;
}
[href="n-carousel.min.css"][data-size="0.0 KB"]:after,
[href="n-carousel.min.js"][data-size="0.0 KB"]:after {
  opacity: 0;
}
[href="n-carousel.min.css"] b,
[href="n-carousel.min.js"] b {
  text-decoration: underline;
  min-width: 4ch;
  display: inline-block;
}

_::-webkit-full-page-media,
_:future,
:root .demo {
  height: -webkit-fill-available;
}

.demo-grid-2 {
  gap: 1em;
  margin: 2em 0;
  text-align: start;
}
@media (min-width: 600px) {
  .demo-grid-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.demo-grid-2 > * {
  overflow: auto;
}

.demo-grid-3 {
  align-self: center;
  max-width: 100%;
  gap: 1em;
  padding: 2em;
}
@media (min-width: 600px) {
  .demo-grid-3 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
.demo-grid-3 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.demo-grid-3 > .n-aspect {
  margin: auto;
}

/*# sourceMappingURL=demo.css.map */
